{extend name="extra@admin/main"}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/theme/default/css/login.css">
{/block}

{block name="body"}
<div class="login-container full-height">

    <!-- 动态云层动画 开始 -->
    <div class="clouds-container">
        <div class="clouds clouds-footer"></div>
        <div class="clouds"></div>
        <div class="clouds clouds-fast"></div>
    </div>
    <!-- 动态云层动画 结束 -->

    <!-- 顶部导航条 开始 -->
    <div class="header">
    </div>
    <!-- 顶部导航条 结束 -->

    <!-- 页面表单主体 开始 -->
    <div class="container" style="top:50%;margin-top:-300px">
        <form onsubmit="return false;" data-time="0.001" data-auto="true" method="post"
              class="content layui-form animated fadeInDown">
            <ul>
                <li>
                    <input name='username' class="hide"/>
                    <input required="required" pattern="^\S{4,}$" value="admin" name="username"
                           autofocus="autofocus" autocomplete="off" class="login-input username"
                           title="请输入4位及以上的字符" placeholder="请输入用户名/手机号码"/>
                </li>
                <li>
                    <input name='password' class="hide"/>
                    <input required="required" pattern="^\S{4,}$" value="admin" name="password"
                           type="password" autocomplete="off" class="login-input password"
                           title="请输入4位及以上的字符" placeholder="请输入密码"/>
                </li>
                <li class="text-center">
                    <button type="submit" class="layui-btn layui-disabled" data-form-loaded="立 即 登 入">正 在 载 入</button>
                    <!-- <a style="position:absolute;display:block;right:0" href="javascript:void(0)">忘记密码？</a> -->
                    <p>
                        <a data-href="{:url('@admin/register')}" class="fl">立即注册</a>
                        <a href="" class="fr">忘记密码?</a>
                    </p>
                </li>
            </ul>

        </form>
    </div>
    <!-- 页面表单主体 结束 -->

</div>
{/block}

{block name="script"}
<script>
    if (window.location.href.indexOf('#') > -1) {
        window.location.href = window.location.href.split('#')[0];
    }
    require(['jquery'], function ($) {
        $('[name="password"]').on('focus', function () {
            $('#left-hander').removeClass('initial_left_hand').addClass('left_hand');
            $('#right-hander').removeClass('initial_right_hand').addClass('right_hand')
        }).on('blur', function () {
            $('#left-hander').addClass('initial_left_hand').removeClass('left_hand');
            $('#right-hander').addClass('initial_right_hand').removeClass('right_hand')
        });
    });
</script>
{/block}